@use "../abstracts/" as *;

.kelas-main {
  min-height: 100vh;
  background-image: url("/assets/kelas-cs.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: antiquewhite;

  padding-top: 100px;

  h1 {
    font-weight: bold;
    font-size: 48px;
  }
}
