@use "../abstracts/" as *;

/* ALUR */
.alur {
  @extend %section;

  &__container {
    @extend %container;
    padding: 64px 24px;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(12, 1fr);
  }

  figure {
    grid-column: 1 / span 12;
    img {
      height: 507px;
      width: 100%;
      object-fit: cover;

      box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.12);
      border: 8px solid $color-neutral-01;
      border-radius: 40px;
    }
  }
  article {
    padding-top: 40px;
    grid-column: 1 / span 12;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 48px;
    .header {
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 4px;
      span {
      }
      h2 {
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 32px;
      p {
      }

      &__cta {
        max-width: 213px;
        box-shadow: 0px 20px 50px -20px $color-primary-red-06;
      }
    }
  }

  /* MEDIA-QUERIES */
  @include display(tab-port) {
    article {
      .content {
        align-items: flex-start;
      }
    }
  }
  @include display(phone) {
    &__container {
      padding: 48px 12px;
    }
  }
}
